<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App Title</title>
    <!-- Include your CSS and other meta tags here -->
    <!-- Example: -->
    
</head>
<body class="container-fluid" style="--bs-gutter-x: 0; background: #200c33">
    {{{body}}}
</body>
</html>
